#https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/
#https://zzz.buzz/2018/05/23/differences-of-rules-between-gitignore-and-dockerignore/
#https://stackoverflow.com/a/40966234

# Example to exclude everything except a specific directory foo/bar (note the /* - without the slash, the wildcard would also exclude everything within foo/bar):
#
#/*
#!/foo
#/foo/*
#!/foo/bar

#/home/* Matches every file/directory directly in the /home directory.
#/home/** Matches every file/directory in any directory inside /home.

*

.env
.env.*
!.env.dist

!CHANGELOG.md
!README.md
!LICENSE

!docker-compose.yml
!docker-compose*.yml.dist
!Dockerfile
!app-entrypoint.sh

.git


# Created by https://www.gitignore.io/api/git
# Edit at https://www.gitignore.io/?templates=git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# End of https://www.gitignore.io/api/git
