#https://vsupalov.com/docker-arg-env-variable-guide/
#https://medium.com/vteam/configure-docker-project-for-different-environments-using-docker-compose-3-bfbef37d951c
#https://medium.com/softonic-eng/docker-compose-from-development-to-production-88000124a57c
#https://stackoverflow.com/a/48651071
#https://github.com/docker/compose/issues/6170

# production, staging, develop, etc.
ENV=develop

PHP_NAME=php
#https://github.com/bitnami/bitnami-docker-php-fpm/issues/130
PHP_TAG=7.4
PHP_OS_NAME=minideb
PHP_COMPOSER_PATH=
PHP_WP_CLI_ENABLED=
PHP_APCU_ENABLED=1
PHP_MCRYPT_ENABLED=
PHP_IMAGICK_ENABLED=
PHP_MAXMINDDB_ENABLED=
PHP_MONGODB_ENABLED=
PHP_XDEBUG_ENABLED=
PHP_MEMCACHED_ENABLED=1
PHP_NEWRELIC_ENABLED=
PHP_PDO_DBLIB_ENABLED=
PHP_PDO_PGSQL_ENABLED=
PHP_PGSQL_ENABLED=
PHP_OPCACHE_ENABLED=1

MAILHOG_NAME=mailhog
MAILHOG_TAG=latest
MAILHOG_VERSION=0.2.0
MAILHOG_SMTP_PORT=10025
MAILHOG_HTTP_PORT=8085

NEWRELIC_VERSION=9.6.1.256
NEWRELIC_LICENSE_KEY=
NEWRELIC_APPLICATION_NAME=

#https://jtreminio.com/blog/running-docker-containers-as-current-host-user/
USER_ID=
GROUP_ID=

GITHUB_TOKEN=
